channels[daphne]
channels-redis
django
django-df-auth
django-df-notifications
django-hashid-field
django-model-utils
djangochannelsrestframework
djangorestframework
djangorestframework-recursive
djangorestframework-simplejwt
drf-nested-routers
drf-spectacular[sidecar]
fcm-django<=1.0.12
Pillow
pyjwt
django-filter